<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- 콘솔 출력 -->
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- 파일 출력 -->
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>

    <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>


    <!-- 일일 최대 용량 100mb, 최대 30일치 보관, 총 용량 3gb로 제한 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>
  </appender>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <logger additivity="false" level="DEBUG" name="com.codeit.mission">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </logger>


  <!-- 변수 설정-->
  <property name="LOG_FILE_NAME" value="deokhugam"/>
  <property name="LOG_PATH" value="./logs"/>
  <property name="LOG_PATTERN"
    value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

  <!-- 루트 로거 -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>